@model Johnny.ShoeStore.Domain.Entities.Permission
@{
    ViewBag.Title = "Admin: Edit " + @Model.PermissionName;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="box-body">
    <!-- form start -->
    @using (Html.BeginForm("Edit", "Permission", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
    {
        <div class="">
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                switch (property.PropertyName)
                {
                    case "PermissionId":
                        @Html.Hidden(property.PropertyName)
                        break;
                    case "Sequence":
                        break;
                    default:
                    <div class="form-group">
                        <label for="input@(property.DisplayName ?? property.PropertyName)" class="col-sm-2 control-label">@(property.DisplayName ?? property.PropertyName)</label>
                        <div class="col-sm-10">
                            @if (property.PropertyName == "PermissionCategoryId")
                            {
                                @Html.DropDownList("PermissionCategoryId", new SelectList(ViewBag.PermissionCategories, "PermissionCategoryId", "PermissionCategoryName", Model.PermissionCategoryId), new { @class = "form-control select2" })
                            }
                            else
                            {
                                @Html.TextBox(property.PropertyName, null, new { @class = "form-control", @for = (property.DisplayName ?? property.PropertyName) })
                            }
                            @Html.ValidationMessage(property.PropertyName)
                        </div>
                    </div>
                            break;
                }

            }
        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-info">Save</button>
            @Html.ActionLink("Cancel", "List", null, new { @class = "btn btn-default" })
        </div>
    }
</div><!-- /.box-body -->