@{
    Layout = null;
}
<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title | ShoeStore</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="~/Areas/Admin/Content/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/Areas/Admin/Content/plugins/datatables/dataTables.bootstrap.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/Areas/Admin/Content/plugins/select2/select2.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Areas/Admin/Content/dist/css/AdminLTE.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Areas/Admin/Content/admin.css">
    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
          page. However, you can choose any other skin. Make sure you
          apply the skin class to the body tag so the changes take effect.
    -->
    <link rel="stylesheet" href="~/Areas/Admin/Content/dist/css/skins/skin-blue.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <!-- Main Header -->
        <header class="main-header">
            <!-- Logo -->
            <a href="@Url.Action("Index", "Home")" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>Jo</b>Jo</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Admin</b>JoJoStudio</span>
            </a>
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                            <!-- Menu toggle button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <span class="label label-success">4</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 4 messages</li>
                                <li>
                                    <!-- inner menu: contains the messages -->
                                    <ul class="menu">
                                        <li>
                                            <!-- start message -->
                                            <a href="#">
                                                <div class="pull-left">
                                                    <!-- User Image -->
                                                    <img src="~/Areas/Admin/Content/dist/img/johnny-160x160.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <!-- Message title and timestamp -->
                                                <h4>
                                                    Support Team
                                                    <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                                </h4>
                                                <!-- The message -->
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li><!-- end message -->
                                    </ul><!-- /.menu -->
                                </li>
                                <li class="footer"><a href="#">See All Messages</a></li>
                            </ul>
                        </li><!-- /.messages-menu -->
                        <!-- Notifications Menu -->
                        <li class="dropdown notifications-menu">
                            <!-- Menu toggle button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                    <!-- Inner Menu: contains the notifications -->
                                    <ul class="menu">
                                        <li>
                                            <!-- start notification -->
                                            <a href="#">
                                                <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                            </a>
                                        </li><!-- end notification -->
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>
                        <!-- Tasks Menu -->
                        <li class="dropdown tasks-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-flag-o"></i>
                                <span class="label label-danger">9</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 9 tasks</li>
                                <li>
                                    <!-- Inner menu: contains the tasks -->
                                    <ul class="menu">
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <!-- Task title and progress text -->
                                                <h3>
                                                    Design some buttons
                                                    <small class="pull-right">20%</small>
                                                </h3>
                                                <!-- The progress bar -->
                                                <div class="progress xs">
                                                    <!-- Change the css width attribute to simulate progress -->
                                                    <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">20% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li><!-- end task item -->
                                    </ul>
                                </li>
                                <li class="footer">
                                    <a href="#">View all tasks</a>
                                </li>
                            </ul>
                        </li>
                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                <img src="~/Areas/Admin/Content/dist/img/johnny-160x160.jpg" class="user-image" alt="User Image">
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                <span class="hidden-xs">@Session["UserName"]</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- The user image in the menu -->
                                <li class="user-header">
                                    <img src="~/Areas/Admin/Content/dist/img/johnny-160x160.jpg" class="img-circle" alt="User Image">
                                    <p>
                                        Rong Zhuang - Web Developer
                                        <small>Member since Nov. 2012</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Followers</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Sales</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Friends</a>
                                    </div>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="@Url.Action("Edit", "User", new { id = Session["UserId"] })" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="@Url.Action("Logout", "Account")" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/Areas/Admin/Content/dist/img/johnny-160x160.jpg" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>@Session["UserName"]</p>
                        <!-- Status -->
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <!-- search form (Optional) -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- Sidebar Menu -->
                @Html.Action("NavigationBar", "AdminNav")}
                <!--
                <ul class="sidebar-menu">
                    <li class="header">Navigation</li>                    
                    <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-outdent"></i> <span>Home</span></a></li>
                    <li class=""><a href="@Url.Action("SalesOrder", "ShoeStore")"><i class="fa fa-outdent"></i> <span>Orders</span></a></li>
                    <li><a href="@Url.Action("Product", "ShoeStore")"><i class="fa fa-paw"></i> <span>Products</span></a></li>
                    <li class="treeview">
                        <a href="#"><i class="fa fa-shopping-cart"></i> <span>ShoeStore</span> <i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Customer", "ShoeStore")"><i class="fa fa-circle-o"></i> Customer </a></li>
                            <li><a href="@Url.Action("SalesOrder", "ShoeStore")"><i class="fa fa-circle-o"></i> Orders </a></li>
                            <li><a href="@Url.Action("Product", "ShoeStore")"><i class=" fa fa-circle-o"></i> Product </a></li>
                            <li><a href="@Url.Action("ProductCategory", "ShoeStore")"><i class=" fa fa-circle-o"></i> Product Categoy </a></li>
                            <li><a href="@Url.Action("SalesOrderStatus", "ShoeStore")"><i class=" fa fa-circle-o"></i> Sales Order Status </a></li>
                        </ul>
                    </li>
                    <li class="treeview active">
                        <a href="#">
                            <i class="fa fa-cog"></i> <span>System</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li class="active">
                                <a href="#"><i class="fa fa-circle-o"></i> Account <i class="fa fa-angle-left pull-right"></i></a>
                                <ul class="treeview-menu menu-open">
                                    <li><a href="@Url.Action("Administrator", "Account")"><i class="fa fa-circle-o"></i> Administrator </a></li>
                                    <li class="">
                                        <a href="@Url.Action("AdminRole", "Account")"><i class="fa fa-circle-o"></i> AdminRole </a>
                                    </li>
                                    <li class="active">
                                        <a href="@Url.Action("Role", "Account")"><i class="fa fa-circle-o"></i> Role </a>
                                    </li>
                                    <li class="">
                                        <a href="@Url.Action("RolePermission", "Account")"><i class="fa fa-circle-o"></i> Role Permission </a>
                                    </li>
                                    <li class="">
                                        <a href="@Url.Action("Permission", "Account")"><i class="fa fa-circle-o"></i> Permission </a>
                                    </li>
                                    <li class="">
                                        <a href="@Url.Action("PermissionCategory", "Account")"><i class="fa fa-circle-o"></i> Permission Category </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <a href="#"><i class="fa fa-circle-o"></i> Menu <i class="fa fa-angle-left pull-right"></i></a>
                                <ul class="treeview-menu">
                                    <li><a href="@Url.Action("Menu", "Menu")"><i class="fa fa-circle-o"></i> Menu </a></li>
                                    <li class="">
                                        <a href="@Url.Action("MenuCategory", "Menu")"><i class="fa fa-circle-o"></i> Menu Category </a>
                                    </li>
                                    <li class="">
                                        <a href="@Url.Action("TopMenu", "Menu")"><i class="fa fa-circle-o"></i> Top Menu </a>
                                    </li>
                                    <li class="">
                                        <a href="@Url.Action("TopMenuBinding", "Menu")"><i class="fa fa-circle-o"></i> Top Menu Binding </a>
                                    </li>
                                    <li class="">
                                        <a href="@Url.Action("PageBinding", "Menu")"><i class=" fa fa-circle-o"></i> Page Binding </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <a href="#"><i class="fa fa-circle-o"></i> WebsiteConfig <i class="fa fa-angle-left pull-right"></i></a>
                                <ul class="treeview-menu">
                                    <li><a href="#"><i class="fa fa-circle-o"></i> Website Settings </a></li>
                                    <li class="">
                                        <a href="@Url.Action("EditMailSetting", "WebsiteConfig")"><i class="fa fa-circle-o"></i> Email Settings </a>
                                    </li>
                                    <li class="">
                                        <a href="#"><i class="fa fa-circle-o"></i> Breviary Settings </a>
                                    </li>
                                    <li class="">
                                        <a href="#"><i class="fa fa-circle-o"></i> Server Info </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
               -->
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @Html.Partial("_AlertBox")
            @Html.Partial("_PageHeader")            
            <!-- Main content -->
            <section class="content">
                <div class="box box-info">
                    @Html.Partial("_ListAdd")                    
                    <!-- Horizontal Form -->
                    @RenderBody()
                    <div class="box-footer">
                    </div><!-- /.box-footer -->
                </div>
            </section><!-- /.content -->
        </div><!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                Anything you want
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2015 <a href="#">Company</a>.</strong> All rights reserved.
        </footer>
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane active" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading">Recent Activity</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript::;">
                                <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                                    <p>Will be 23 on April 24th</p>
                                </div>
                            </a>
                        </li>
                    </ul><!-- /.control-sidebar-menu -->
                    <h3 class="control-sidebar-heading">Tasks Progress</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript::;">
                                <h4 class="control-sidebar-subheading">
                                    Custom Template Design
                                    <span class="label label-danger pull-right">70%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                </div>
                            </a>
                        </li>
                    </ul><!-- /.control-sidebar-menu -->
                </div><!-- /.tab-pane -->
                <!-- Stats tab content -->
                <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div><!-- /.tab-pane -->
                <!-- Settings tab content -->
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">General Settings</h3>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Report panel usage
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                            <p>
                                Some information about this general settings option
                            </p>
                        </div><!-- /.form-group -->
                    </form>
                </div><!-- /.tab-pane -->
            </div>
        </aside><!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->
    <!-- Modal -->
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                </div>

                <div class="modal-body">
                    <p>You are about to delete one track, this procedure is irreversible.</p>
                    <p>Do you want to proceed?</p>
                    <p class="debug-url"></p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger btn-ok">Delete</a>
                </div>
            </div>
        </div>
    </div>    
    <div class="modal" id="product-add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Product</h4>
                </div>
                <div class="modal-body">
                    <form action="/Admin/ShoeStore/EditCustomer" class="form-horizontal" enctype="multipart/form-data" method="post">
                        <div class="">
                            <input data-val="true" data-val-number="The field CustomerId must be a number." data-val-required="The CustomerId field is required." id="CustomerId" name="CustomerId" type="hidden" value="0" />                                    <div class="form-group">
                                <label for="inputCustomerName" class="col-sm-2 control-label">CustomerName</label>
                                <div class="col-sm-10">
                                    <input class="form-control" data-val="true" data-val-required="Please enter a user name" for="CustomerName" id="CustomerName" name="CustomerName" type="text" value="" />                                            <span class="field-validation-valid" data-valmsg-for="CustomerName" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputFullName" class="col-sm-2 control-label">FullName</label>
                                <div class="col-sm-10">
                                    <input class="form-control" for="FullName" id="FullName" name="FullName" type="text" value="" />                                            <span class="field-validation-valid" data-valmsg-for="FullName" data-valmsg-replace="true"></span>
                                </div>
                            </div>                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- REQUIRED JS SCRIPTS -->
    <!-- jQuery 2.1.4 -->
    <script src="~/Areas/Admin/Content/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="~/Areas/Admin/Content/bootstrap/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Areas/Admin/Content/dist/js/app.min.js"></script>
    <!-- DataTables -->
    <script src="~/Areas/Admin/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Areas/Admin/Content/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="~/Areas/Admin/Content/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/Areas/Admin/Content/plugins/fastclick/fastclick.min.js"></script>
    <!-- Select2 -->
    <script src="~/Areas/Admin/Content/plugins/select2/select2.full.min.js"></script>
    <!-- Optionally, you can add Slimscroll and FastClick plugins.
         Both of these plugins are recommended to enhance the
         user experience. Slimscroll is required when using the
         fixed layout. -->
    <!-- page script -->
    <script>
        $(function () {
            $(".select2").select2();
            $('#example1').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true
            });
        });

    </script>
    <script>
        $('#confirm-delete').on('show.bs.modal', function (e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
            $('.debug-url').html('Delete URL: <strong>' + $(this).find('.btn-ok').attr('href') + '</strong>');
        });
        $('#product-add').on('show.bs.modal', function (e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
            $('.debug-url').html('Delete URL: <strong>' + $(this).find('.btn-ok').attr('href') + '</strong>');
        })
    </script>
    <script>
    $(document).ready(function () {
        $("#SelectedTopMenuId").change(function () {
            $.get('/Admin/TopMenuBinding/GetMenuCategories/' + $(this).val(), function (response) {
                var bindingModel = $.parseJSON(response);
                var ddlSelectedCategories = $("#SelectedMenuCategoryIds");
                // clear all previous options
                $("#SelectedMenuCategoryIds > option").remove();
                var selectedIds = bindingModel.SelectedMenuCategoryIds;
                for (i = 0; i < bindingModel.MenuCategories.length; i++) {
                    var item = bindingModel.MenuCategories[i];                    
                    if ($.inArray(item.MenuCategoryId, selectedIds) > -1) {
                        ddlSelectedCategories.append($("<option selected=\"selected\"/>").val(bindingModel.MenuCategories[i].MenuCategoryId).text(bindingModel.MenuCategories[i].MenuCategoryName));
                    }
                    else {
                        ddlSelectedCategories.append($("<option />").val(bindingModel.MenuCategories[i].MenuCategoryId).text(bindingModel.MenuCategories[i].MenuCategoryName));
                    }
                }
            });
        });
        $("#SelectedRoleId").change(function () {
            $.get('/Admin/RolePermission/GetPermissions/' + $(this).val(), function (response) {
                var bindingModel = $.parseJSON(response);
                var ddlSelectedIds = $("#SelectedPermissionIds");
                // clear all previous options
                $("#SelectedPermissionIds > option").remove();
                var selectedIds = bindingModel.SelectedPermissionIds;
                for (i = 0; i < bindingModel.Permissions.length; i++) {
                    var item = bindingModel.Permissions[i];
                    if ($.inArray(item.PermissionId, selectedIds) > -1) {
                        ddlSelectedIds.append($("<option selected=\"selected\"/>").val(bindingModel.Permissions[i].PermissionId).text(bindingModel.Permissions[i].PermissionName));
                    }
                    else {
                        ddlSelectedIds.append($("<option />").val(bindingModel.Permissions[i].PermissionId).text(bindingModel.Permissions[i].PermissionName));
                    }
                }
            });
        });
        //$("#SelectedUserId").change(function () {
        //    $.get('/Admin/UserRole/GetRoles/' + $(this).val(), function (response) {
        //        var bindingModel = $.parseJSON(response);
        //        var ddlSelectedIds = $("#SelectedRoleIds");
        //        // clear all previous options
        //        $("#SelectedRoleIds > option").remove();
        //        var selectedIds = bindingModel.SelectedRoleIds;
        //        for (i = 0; i < bindingModel.Roles.length; i++) {
        //            var item = bindingModel.Roles[i];
        //            if ($.inArray(item.RoleId, selectedIds) > -1) {
        //                ddlSelectedIds.append($("<option selected=\"selected\"/>").val(bindingModel.Roles[i].Id).text(bindingModel.Roles[i].Name));
        //            }
        //            else {
        //                ddlSelectedIds.append($("<option />").val(bindingModel.Roles[i].Id).text(bindingModel.Roles[i].Name));
        //            }
        //        }
        //    });
        //});
        $("#ButtonRemoveSelection").click(function () {
            if ($("#SelectedMenuCategoryIds")!=null)
                $("#SelectedMenuCategoryIds").val([]);
            if ($("#SelectedPermissionIds") != null)
                $("#SelectedPermissionIds").val
            //if ($("#SelectedRoleIds") != null)
            //    $("#SelectedRoleIds").val([]);
        });
    });
    </script>

</body>
</html>
